## .env.sample
##
## Copy this file to .env. Remove leading "#" sign to uncomment lines as you
## define values. Variables in here should not be exported, they will be
## ingested by .envrc, or docker-compose, etc. You may export your own personal
## variables in here, if needed, like debug flags:
##
## 	export DEBUG=1
##
## Personal environment variables should not be added to .envrc so this is the
## right place to define and export them.
##

##
## OPTIONAL settings follow
##

## Drone (for cli access)
#DRONE_SERVER=""
#DRONE_TOKEN=""
